body{
  transition: .3s
}

body.night{
  /* filter: invert(100%); */
  background-color: #333;
  color: #ccc;
}

.progrbar{
  border: 2px solid grey;
  border-radius: 4px 10px 10px 4px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  transition: 1s;
}

.pcard{
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.charttitle{
  width: 10%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ptitle{
  width: 25%;
}

.prdescr{
  width: 50%;
}

.pbar{
  width: 15%;
}

#nightthemesw{
  background-color: #0a0;
  color: #ccc;
}